<ion-tabs class="tabs-striped tabs-color-positive tabs-top">

  <ion-tab title="Subjects" icon-on="mcfly" icon-off="mcfly" href="#/tab/subjects">
    <ion-nav-view name="tab-subjects"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Messages" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/messages">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-gear-b" icon-on="ion-ios-gear" href="#/tab/myProfile">
    <ion-nav-view name="tab-myProfile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
