<ion-view>
  <div class="bar bar-header bar-calm">

    <ion-item class="add-subject-header">
      <i ui-sref="tab.addSubject-s1" class="icon ion-arrow-left-c"></i>
      <span class="add-subject-header-span">You are talking about...</span>
      <span class="add-subject-step">2/2</span>
    </ion-item>
  </div>
  <ion-content >
    <div class="content">
      <ion-list>
        <ion-item class="add-subject-header">
          <i ui-sref="tab.addSubject-s1" class="icon ion-arrow-left-c"></i>
          <span class="add-subject-header-span">You are talking about...</span>
          <span class="add-subject-step">2/2</span>
        </ion-item>
      <div class="add-subject">
        <input required name="noteTitle" placeholder="Subject Title *" ng-model="subject.title">
        <textarea required rows="3" ng-model="subject.description" maxlength="250"
                  placeholder="Describe your subject here ...."></textarea>

      </div>
      </ion-list>

      <div ng-click="createSubject()" ng-class="{'create-subject-btn-blue': subject.description.length>0 && subject.title.length>0}" class="create-subject-btn create-subject-btn-grey">

      </div>
    </div>
  </ion-content>
</ion-view>
