<ion-view cache-view="false">
  <ion-content class="padding gray-bg">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadNewrSubjects()">
    </ion-refresher>
    <ion-list class="subject-list">

      <ion-item ng-click="goToChat(subject)" class="item-avatar item-icon-right" ng-repeat="subject in subjects">
        <img ng-click="goToUserProfile(subject)" ng-src="{{subject.user.fbPhotoUrl}}">
        <h2>{{subject.user.first_name}}, {{subject.title}}</h2>
        <p>{{(subject.interested.length>0)? subject.description+' , interested '+subject.interested.length:subject.description}}</p>
        <div class="subject-container">
          <div>
            <img src="img/favorite.png">
          </div>

          <div ng-click="goToChat(subject)" >
            <img src="img/chat.png">
          </div>
        </div>

      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      on-infinite="loadOlderSubjects()"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
  <div class="bar bar-footer filter-fotter">
    <img ng-click="goToFilter()" style="width: 50px; height: 50px" src="img/filter.png">
  </div>
</ion-view>
