<ion-view cache-view="false">
  <ion-content class="padding gray-bg">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadNewrSubjects()">
    </ion-refresher>
    <ion-list class="subject-list">

      <ion-item ng-click="goToChat(subject)" class="item-avatar item-icon-right" ng-repeat="subject in subjects">
        <img ng-click="goToUserProfile(subject)" ng-src="{{subject.user.fbPhotoUrl}}">
        <h2 class="subject-username">{{subject.user.first_name}},  </h2>
        <!--<h2 class="subject-title">{{subject.title}}</h2>-->
        <p class="subject-description">{{(subject.interested.length>0)? subject.description.substring(0,100)+' , interested '+subject.interested.length:subject.description.substring(0,100)}}</p>
        <span class="subject-time" am-time-ago="subject.create_date"></span>
        <div class="subject-container">
          <div>
            <img class="fav-star" ng-click="addToFavorites()" src="img/favorite.png">
          </div>

<!--          <div ng-click="goToChat(subject)" >
            <img src="img/chat.png">
          </div>-->
        </div>

      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()"
      on-infinite="loadOlderSubjects()"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
  <div class="bar bar-footer add-subject-fotter">
    <div ng-click="goToFilter()" class="create-subject-btn filter-btn">

    </div>

  </div>

</ion-view>
