<ion-tabs ng-controller="tabsCtrl" class="tabs-striped tabs-color-positive tabs-top">
  <i style="position: absolute; top: 100px !important; width: 100px !important;"  class="icon ion-record circle-new-message" ></i>

  <ion-tab icon-on="add-subject-blue" icon-off="add-subject-grey" href="#/tab/addSubject-s1">
    <ion-nav-view name="tab-addSubject"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Subjects" icon-on="subjects-blue" icon-off="subjects-grey" href="#/tab/subjects">
    <ion-nav-view name="tab-subjects"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Messages" icon-off="msg_grey" icon-on="msg_blue" href="#/tab/messages">
     <ion-nav-view name="tab-messages">

     </ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="setting_grey" icon-on="setting_blue" href="#/tab/myProfile">
    <ion-nav-view name="tab-myProfile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
