<ion-modal-view class="custom-modal filter-pop">
  <ion-header-bar>
    <span class="title filter-title">Filter</span>
  </ion-header-bar>
  <ion-content ng-controller="filterCtrl">
    <ion-list class="filter-list">
      <ion-item class="item-toggle">
        Near Me
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="myFilter.nearMe">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item>
        <div class="button-bar">
          <button class="button gender-button" ng-click="setGender('female')" ng-class="{'filter-clicked-button': myFilter.gender=='female', 'filter-unclicked-button': myFilter.gender!='female'}">
            Women
          </button>
          <button class="button gender-button center" ng-click="setGender('both')" ng-class="{'filter-clicked-button': myFilter.gender=='both', 'filter-unclicked-button': myFilter.gender!='both'}">
            Both
          </button>
          <button class="button gender-button" ng-click="setGender('male')" ng-class="{'filter-clicked-button': myFilter.gender=='male', 'filter-unclicked-button': myFilter.gender!='male'}">
            Men
          </button>
        </div>
      </ion-item>

      <div class="container">
        <ul>
          <li ng-if="category.name != 'Other'" ng-click="selectCategory($index)" ng-repeat="category in categories">
            <img ng-src="{{categoriesUrl}}{{category._id}}.png">
           <div class="category-details">
             <i ng-class="{'category-not-selected': !category.is_selected, 'category-selected': category.is_selected}"  class="icon ion-checkmark-round"></i>
             <p>{{category.name}}</p>
           </div>
          </li>

        </ul>
      </div>
    </ion-list>

  </ion-content>
</ion-modal-view>
