<ion-view>

  <ion-content class="match-page">
    <div class="content">
      <ion-list>
        <ion-item ng-click="createSubjectSetp(category)" class="item-thumbnail-left item-icon-right  " ng-repeat="category in categories">
          <img ng-src="{{categoriesUrl}}{{category._id}}.png">
          <h3 class="cat-add-sub">{{category.name}}</h3>
          <i ng-click="goToChat(message)" class="icon ion-chevron-right"></i>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
