<ion-modal-view class="custom-edit-modal edit-pop">
  <ion-header-bar>
    <span class="title filter-title">My Subject</span>
  </ion-header-bar>
  <ion-content>
    <textarea rows="6" maxlength="250"  ng-model="currentSubject.description" maxlength="250" class="edit-subject"
             ></textarea>
     <!-- <div ng-click="updateSubject()"  ng-class="{'create-subject-btn-blue ': currentSubject.description.length>0 }" class="create-subject-btn create-subject-btn-grey update-subject-btn-blue">
  -->
      <ion-item>
        <div class="button-bar">
          <button class="button button-assertive delete-btn" ng-click="deleteSubject($index, subject)">
            Delete
          </button>
          <button class="button button-stable" ng-click="changeStatus(subject, $index, true)" type="button">
            Close
          </button>
          <button class="button button-stable" ng-class="{'button-positive': isActive}" ng-click="activeButton()" type="button">
            Edit
          </button>
        </div>
      </ion-item>
  </ion-content>
</ion-modal-view>
