
<ion-view title="My Profile">
  <div class="bar bar-header profile-header">
    <div class="profile-details">
      <img ng-src="{{userProfile.fbPhotoUrl}}">
      <h2>{{userProfile.first_name}} {{userProfile.last_name}}</h2>
      <button class="button button-positive">
        Update Profile
      </button>
    </div>
  </div>


  <ion-content class="profile-page">
    <div class="button-bar button-border">
      <a class="button">
        <div class="count">
          <span>12</span>
        </div>
        <span>Open</span>
      </a>
      <a class="button">
        <div class="count">
          <span>12</span>
        </div>
        <span>Closed</span>
      </a>
      <a class="button">
        <div class="count">
          <span>12</span>
        </div>
        <span>Blocked</span>
      </a>
    </div>

    <ion-list>
      <ion-item ui-sref="tab.addSubject-s2" class="item-avatar item-icon-right" ng-repeat="subject in subjects">
        <img ng-src="{{subject.category.image_url}}">
        <h2>{{subject.title}}</h2>
        <p>{{subject.description}}</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
