
<ion-view cache-view="false" title="My Profile">
  <div class="bar bar-header profile-header">
    <div class="profile-details">
      <img ng-click="logOut()" class="logout" src="img/logout.png">
      <img class="profile" ng-src="{{userProfile.fbPhotoUrl}}">
      <h2>{{userProfile.first_name}} {{userProfile.last_name}}</h2>
      <identicon username='userProfile._id' size='32' />
      <button class="button button-positive" ng-click="updateProfile()">
        Update Profile
      </button>
      <!--<div class="button-bar  profile-tabs">-->
        <!--<a ng-click="getSubjects('open')" class="button" ng-class="{'filter-clicked-button': tab=='open', 'filter-unclicked-button': tab!='open'}">-->
          <!--<span>Open</span>-->
        <!--</a>-->
        <!--<a ng-click="getSubjects('closed')" class="button" ng-class="{'filter-clicked-button': tab=='closed', 'filter-unclicked-button': tab!='closed'}">-->
          <!--<span>Closed</span>-->
        <!--</a>-->
        <!--<a ng-click="getSubjects('blocked')" class="button" ng-class="{'filter-clicked-button': tab=='blocked', 'filter-unclicked-button': tab!='blocked'}">-->
          <!--<span>Blocked</span>-->
        <!--</a>-->
      <!--</div>-->
    </div>

  </div>


  <ion-content class="profile-page">
    <ion-list ng-show="tab=='closed' || tab=='open'">
      <ion-item class="item-thumbnail-left item-icon-right categories-list" ng-click="editSubject(subject,$index)" ng-repeat="subject in subjects">
        <img ng-src="{{categoriesUrl}}{{subject.category._id}}.png">
        <div class="category-name">
          <p>{{subject.category.name}}</p>
        </div>
        <h2>{{subject.description}}</h2><h2 am-time-ago="subject.create_date"></h2>
        <ion-option-button ng-show="tab=='open'" ng-click="editSubject(subject,$index)" class="button-positive">Edit</ion-option-button>
        <ion-option-button ng-show="tab=='open'" ng-click="changeStatus(subject, $index, false)" class="button-positive">Close</ion-option-button>
        <ion-option-button ng-show="tab=='closed'" ng-click="changeStatus(subject, $index, true)" class="button-positive close-btn">Open</ion-option-button>
        <ion-option-button ng-click="deleteSubject($index, subject)" class="button-assertive delete-btn">Delete</ion-option-button>
      </ion-item>
    </ion-list>
    <ion-list ng-show="tab=='blocked'">
      <ion-item class="item-thumbnail-left item-icon-right blocked-user" ng-repeat="user in blockedUsers">
        <img ng-src="{{user.fbPhotoUrl}}"/>
        <h2>{{user.userName}}</h2>
        <ion-option-button ng-click="showConfirm(user)" class="button-assertive">Unblock</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
