
<ion-view title="My Profile">
  <div class="bar bar-header profile-header">
    <div class="profile-details">
      <img ng-src="{{userProfile.fbPhotoUrl}}">
      <h2>{{userProfile.first_name}} {{userProfile.last_name}}</h2>
      <button class="button button-positive">
        Update Profile
      </button>
    </div>
  </div>


  <ion-content class="profile-page">
    <div class="button-bar button-border">
      <a class="button">
        <div class="count">
          <span>12</span>
        </div>
        <span>Open</span>
      </a>
      <a class="button">
        <div class="count">
          <span>12</span>
        </div>
        <span>Closed</span>
      </a>
      <a class="button">
        <div class="count">
          <span>12</span>
        </div>
        <span>Blocked</span>
      </a>
    </div>

    <ion-list>
      <ion-item ng-click="createSubjectSetp(category)" class="item-thumbnail-left item-icon-right categories-list" ng-repeat="subject in subjects">
        <img ng-src="{{categoriesUrl}}{{subject.category._id}}.png">
        <h2>{{subject.title}}</h2><h2>{{category.name}}</h2>
        <i ng-click="goToChat(message)" class="icon ion-chevron-right"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
