
<ion-view title="Facebook Connect">
  <ion-content scroll="false" >
    <div class="fb-page">
      <div class="login-top">
        <ion-list>
          <ion-item class="item-thumbnail-left">
            <img src="img/logo.png">
            <div>
              <span class="think-out">You must</span>
            </div>
            <div class="login-loudly">
              <span >Know</span>
            </div>
            <!--<p class="think-out">Think Out</p>-->
            <!--<p class="login-loudly">loudly</p>-->
          </ion-item>
        </ion-list>
      </div>



      <div class="auth-container">
        <input ng-if="!validPhone" class="phone-number" ng-model="auth.phoneNumber" type="tel" placeholder="Phone Number">
        <input ng-if="validPhone && !validSms" class="phone-number" ng-model="auth.smsCode" type="tel" placeholder="sms code">
        <button ng-click="send()" class="button button-block button-positive send-button">
          <span>Send</span>
        </button>
        <button ng-if="validSms" ng-click="fbLogin()" class="button button-block button-positive icon-left ion-social-facebook fb-button">
          <span class="login-with-fb">Login With Facebook</span>
        </button>
      </div>








    </div>





  </ion-content>

</ion-view>
