
<ion-view title="Facebook Connect">
  <ion-content scroll="false" >
    <div class="fb-page">
      <div class="login-top">
        <ion-list>
          <ion-item class="item-thumbnail-left">
            <img src="img/logo.png">
            <div>
              <span class="think-out">Think Out</span>
            </div>
            <div class="login-loudly">
              <span >loudly</span>
            </div>
            <!--<p class="think-out">Think Out</p>-->
            <!--<p class="login-loudly">loudly</p>-->
          </ion-item>
        </ion-list>
      </div>
      <div class="login-footer">
        <button ng-click="fbLogin()" class="button button-block button-positive icon-left ion-social-facebook fb-button">
          <span class="login-with-fb">Login With Facebook</span>
        </button>
        <p>
          By singing up, I agree to Loudly's Terms of service and Privacy Policy.
        </p>
      </div>
    </div>





  </ion-content>

</ion-view>
